body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  .gallery-table-container {
    display: flex;
    min-height: 100vh;
  }
  
  .gallery-table-content {
    flex: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .search-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .page-size-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .page-size-select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table thead tr {
    background-color: #007bff;
    color: white;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    font-weight: bold;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .pagination {
    display: flex;
    align-items: center;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 2px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    margin: 0 10px;
  }
  
  .pagination input {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .pagination input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  @media (max-width: 768px) {
    .gallery-table-content {
      padding: 10px;
    }
  
    h1 {
      font-size: 20px;
    }
  
    table th,
    table td {
      padding: 8px;
    }
  
    .pagination span,
    .pagination button,
    .pagination input,
    .pagination select {
      font-size: 14px;
    }
  }
  .upload-button-container {
    margin-bottom: 20px;
    text-align: right; /* Align button to the right */
  }
  
  .upload-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }
  